<div class="container-fluid" *ngIf="jardin">
    <div class="row" style="background: #eee; padding: 4px">
        <div class="col-sm-3">
            <img class="img-responsive img-rounded" style="max-height: 200px" src={{jardin.image}}>
        </div>
        <div class="col-sm-5">
            <h1>{{jardin.nom}}</h1>
            <p>{{jardin.adresse}}<br>
                {{jardin.adresse}} {{jardin.adresse}}</p>
            <div><a href="mailto:{{jardin.contact}}">{{jardin.contact}}</a></div>
            <p style="color:red"><i class="fa fa-trash"></i> Possède un composteur</p>
        </div>
        <div class="col-sm-4 text-right">
            <h4><span class="label label-danger" *ngIf="jardin.restreint"><i class="fa fa-lock" aria-hidden="true"></i> Accès restreint</span>
            </h4>

            <p>
                <a class="btn btn-primary"><i class="fa fa-user"></i> {{jardin.membres.length}} membres</a>
            </p>
            <p style="margin-top: 80px">
                <a class="btn btn-danger btn-xs" href="#">
                    <i class="fa fa-sign-out"></i> Quitter le jardin</a>
            </p>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>Horaires</h3>
            <p>{{jardin.horaire}}</p>
        </div>
        <div class="col-sm-9">
            <h3>Description</h3>
            <p>
                {{jardin.description}}
            </p>
            <p><b>URL : </b><a target="_blank" href="{{jardin.site}}">{{jardin.site}}</a></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Actualités</h2>
        <sd-actualitie *ngFor="#actualite of jardin.actualites" [num]="actualite">Chargement...</sd-actualitie>
    </div>
    <hr>
    <div class="row">
        <h2>Lopins sur le jardin</h2>
        <sd-lopins></sd-lopins>
    </div>
    <hr>
    <div class="row">
        <h2>Commentaires</h2>

    </div>
</div>
