<div class="container" *ngIf="jardin">
    <div class="row" style="border-radius:3px;background: #eee; padding: 10px">
        <div class="col-sm-3">
            <img class="img-responsive img-rounded" style="margin: auto; max-height: 200px" src={{jardin.image}}>
            <button style="margin: 10px auto 0 auto; display: block" *ngIf="estAdminDuJardin()"
                    class="btn btn-success btn-xs" (click)="editJardin()">
                <i class="fa fa-pencil-square-o"></i> Editer informations
            </button>
            <div class="col-sm-4 visible-xs" style="margin-top: 10px; text-align: center" >
                <button class="btn btn-primary" (click)="afficherMembres()"><i class="fa fa-user"></i>
                    {{jardin.membres.length}} membres
                </button>
                <button *ngIf="!estMembreDuJardin()  && user" class="btn btn-success" (click)="rejoindreJardin()">
                    <i class="fa fa-user"></i> Rejoindre le jardin
                </button>
                <button *ngIf="estMembreDuJardin()" class="btn btn-danger" (click)="quitterJardin()">
                    <i class="fa fa-sign-out"></i> Quitter le jardin
                </button>
            </div>
            <br>
        </div>
        <div class="col-sm-5">
            <h1>{{jardin.nom}}</h1>
            <h4>
                <span *ngIf="jardin.restreint"><i class="fa fa-lock" aria-hidden="true"
                                                  style="color: orangered"></i> Accès restreint<br/></span>
                        <span *ngIf="!jardin.restreint"><i class="fa fa-check" aria-hidden="true"
                                                           style="color: green"></i> Ouvert à tous<br/></span>
            </h4>*
            <sd-adresse-jardin [num]="jardin.id">Chargement...</sd-adresse-jardin>
            <div><a href="mailto:{{jardin.contact}}">{{jardin.contact}}</a></div>
            <p *ngIf="jardin.composteur" style="color:green"><i class="fa fa-trash"></i> Possède un composteur</p>
        </div>

        <div class="text-right col-sm-4 hidden-xs">
            <button style="margin-bottom: 5px" class="btn btn-primary"  (click)="afficherMembres()"><i class="fa fa-user"></i>
                {{jardin.membres.length}} membres
            </button><br>
            <button *ngIf="!estMembreDuJardin() && user" class="btn btn-success" (click)="rejoindreJardin()">
                <i class="fa fa-user"></i> Rejoindre le jardin
            </button>
            <button *ngIf="estMembreDuJardin()" class="btn btn-danger" (click)="quitterJardin()">
                <i class="fa fa-sign-out"></i> Quitter le jardin
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <h3>Horaires</h3>
            <p style="white-space: pre-wrap;">{{jardin.horaire}}</p>
        </div>
        <div class="col-sm-9">
            <h3>Description</h3>
            <p style="text-align: justify"> {{jardin.description}}</p>
            <p *ngIf="jardin.site"><b>URL : </b><a target="_blank" href="{{jardin.site}}">{{jardin.site}}</a></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <h2>Actualités</h2>
        <sd-actualitie (deleteActualiteEvent)="deleteActualiteEvent($event)" *ngFor="#actualite of jardin.actualites"
                       [num]="actualite" [jardin]="jardin">Chargement...
        </sd-actualitie>
        <sd-ajout-actualite *ngIf="estAdminDuJardin()" (ajouterActualiteEvent)="ajouterActualiteEvent($event)"
                            [id]="jardin.id"></sd-ajout-actualite>
    </div>
    <hr>
    <div class="row">
        <h2>Lopins sur le jardin</h2>
        <div class="row">
            <sd-lopin class="col-sm-6" *ngFor="#lopin of jardin.lopins" [num]="lopin">Chargement...</sd-lopin>
        </div>
    </div>
    <div *ngIf="peutCommenter() ">
        <hr>
        <div class="row">
            <h2>Commentaires</h2>
            <div class="container">
                <sd-commentaire (deleteCommentaireEvent)="deleteCommentaireEvent($event)"
                                *ngFor="#commentaire of commentairesJardin" [commentaire]="commentaire">Chargement...
                </sd-commentaire>
            </div>
            <sd-ajout-commentaire (ajouterCommentaireEvent)="ajouterCommentaireEvent($event)"
                                  [id]="jardin.id">
            </sd-ajout-commentaire>
        </div>
    </div>

</div>
