<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <div class="col-lg-10">
        <textarea class="form-control" #text onfocus="if(this.value== 'Ajouter un commentaire'){this.value=''}; return false;" onblur="if(this.value== ''){this.value='Ajouter un commentaire'}; return false;"
         rows="3" id="textArea">Ajouter un commentaire</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="ajouterCommentaire(text.value)" >Submit</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
