<div class="container-fluid">


  <div class="row">
    <div class="col-md-5">
      <form class="form-horizontal">

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="requeteRecherche" type="text" class="form-control" placeholder="Rechercher un jardin, un lopin ou une plante">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Rechercher</button>
            </span>
          </div><!-- /input-group -->
        </div>

        <div class="form-group">
          Filtres :

          <div class="checkbox-container">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Ouvert à tous
              </label>

              <div class="checkbox">
                <label>
                  <input type="checkbox"> Membres uniquement
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input type="checkbox"> Composteur
                </label>
              </div>
            </div>
          </div>
        </div>

      </form>
      <hr>
      <div *ngIf="jardins" id="listJardin">

        <div style="overflow: auto; height: {{getHeight()}}px">
          <div class="list-group">
            <a class="list-group-item" *ngFor="#unJardin of jardins" [class.active]="unJardin === jardinSelectionne"
               (click)="clicJardin(unJardin)">
              <div class="media">
                <div class="media-left media-middle">
                  <img class="media-object" src="{{ unJardin.image}}" style="height: 70px; width: 70px" alt="...">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{unJardin.nom}}</h4>
                  <sd-adresse-jardin [num]=unJardin.adresse>Chargement...</sd-adresse-jardin>
                  {{unJardin.membres.length}} membres

                  <a [routerLink]="['Jardin', {id : unJardin.id}]" class="btn btn-primary pull-right"> Voir le
                    jardin</a>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-7">

      <div id="mapid"></div>

    </div>

  </div>

</div>
