#mapid {
  height: 100%;
}

.container-fluid {
  padding-top: 20px;
}

.form-horizontal {
  padding-left: 20px;
}


.checkbox-container {
  padding-left: 15px;
}

.list-group-item.active {
  background-color: #7d7a68;
}


.btn-lopin {
  background-color: #DA4162;
  border-width: 0 1px 4px 1px;
  border-color: #B32531;
  color: white;
}

.active .media-heading {
  color: white;
}
