<div class="container-fluid">


  <div class="row">
    <div class="col-md-5">
      <form (ngSubmit)="onSubmit()" class="form-horizontal">

        <div class="form-group">
          <div class="input-group">
            <input [(ngModel)]="requeteRecherche" type="text" class="form-control"
                   placeholder="Rechercher un jardin, un lopin ou une plante">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Rechercher</button>
            </span>
          </div><!-- /input-group -->
        </div>

        <div class="form-group">
          Filtres :

          <div class="checkbox-container">
            <div class="checkbox">
              <label>
                <input #afficherLopinsIndependantsCheckbox type="checkbox" [(ngModel)]="afficherLopinsIndependants"
                       (change)="checkBoxChange()">
                Afficher les lopins indépendants
              </label>

              <div class="checkbox">
                <label>
                  <input #afficherJardinsCollectifsCheckbox type="checkbox" [(ngModel)]="afficherJardinsCollectifs"
                         (change)="checkBoxChange()">
                  Afficher
                  les jardins collectifs/partagés
                </label>
              </div>

              <div class="checkbox">
                <label>
                  <input #composteurCheckbox type="checkbox" [(ngModel)]="composteur"
                         (change)="checkBoxChange()"> Avec composteur
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
            <label form="acces">Niveau d'accès : </label>
            <select id="acces" #accesSelect [(ngModel)]="acces" class="form-control" (change)="selectChange(accesSelect.value)">
              <option value="Tous" selected>Tous</option>
              <option value="Ouvert à tous">Ouvert à tous</option>
              <option value="Accès restreint">Accès restreint</option>
            </select>
        </div>

      </form>
      <hr>
      <div *ngIf="resultatRecherche" id="listJardin">
        <div style="overflow: auto; height: {{getHeight()}}px">
          <div class="list-group">

            <!-- Affichage des jardins -->
            <a class="list-group-item" *ngFor="#unJardin of resultatRecherche.jardins"
               [class.active]="unJardin === jardinSelectionne"
               (click)="clicJardin(unJardin)">
              <div class="media">
                <div class="media-left media-middle">
                  <img *ngIf="unJardin.image" class="media-object" src="{{ getApiUrl(unJardin.image)}}" style="height: 75px; width: 75px"
                       alt="...">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{unJardin.nom}}</h4>
                  <sd-adresse-jardin [num]=unJardin.adresse>Chargement...</sd-adresse-jardin>
                  {{unJardin.membres.length}} membres

                  <a [routerLink]="['Jardin', {id : unJardin.id}]" class="btn btn-success pull-right"> Voir le
                    jardin</a>
                </div>
              </div>
            </a>

            <!-- Affichage des lopins -->
            <a class="list-group-item" *ngFor="#unLopin of resultatRecherche.lopins"
               [class.active]="unLopin === lopinSelectionne"
               (click)="clicLopin(unLopin)">

              <div class="media">
                <div class="media-left media-middle">
                  <img class="media-object" src="/assets/img/leaf-red.png" style="height: 75px; width: 75px"
                       alt="...">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{unLopin.nom}}</h4>
                  <sd-adresse-jardin [num]=unLopin.adresse>Chargement...</sd-adresse-jardin>

                  <a [routerLink]="['Lopin', {id : unLopin.id}]" class="btn btn-default btn-lopin pull-right"> Voir le lopin</a>
                </div>
              </div>


            </a>

          </div>
        </div>
      </div>

    </div>

    <div class="col-md-7">

      <div id="mapid"></div>

    </div>

  </div>

</div>
