<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 style="color:#fff">Smart gardens</h1>
                        <input style="max-width: 500px; display: block; margin: auto" class="form-control" type="text"
                               placeholder="Rechercher un jardin, un lieu ou une plante...">

                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="center-block">
                <a class="btn btn-primary">Connexion</a>
                <a class="btn btn-success">Inscription</a>
            </div>
        </div>
    </div>
</div>

<hr>
<center>
    <div class="form form-inline">
        <input class="form-control" type="text" [(ngModel)]="id" placeholder="id du jardin">
        <a class="btn btn-primary" (click)="getJardin()">Voir le jardin</a>
    </div>

</center>



