

.search-results {
    max-width: 500px;
    display: block;
    overflow: auto;
    max-height: 300px;
    position: absolute;
    background-color: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border-radius: 3px;
    margin-top: 5px;
}

.result{
    cursor: pointer;
}

.result:hover{
    background-color: #ddd;
}