<div class="container" *ngIf="lopin && plantes" style="padding-left: 20px">
  <div id="header-profile" class="row">
    <div class="col-sm-10">
      <h1>{{lopin.nom}}
      </h1>
          <h4>Description</h4>
          <p>{{lopin.description}}</p>
    </div>
  </div>
  <h3>{{plantes.length}} plante(s)</h3>

  <accordion [closeOthers]="true">
    <accordion-group *ngFor="#plante of plantes;" heading="{{plante.nom}} - {{plante.espece}}">
      This content is straight in the template.
    </accordion-group>
  </accordion>

</div>
