<div class="container" *ngIf="lopin && plantes" style="padding-left: 20px">
    <div id="header-profile" class="row">
        <div class="col-xs-12">
            <h1>{{lopin.nom}}<button style="margin-top: 20px;" (click)="getQrCode()" class="btn btn-primary pull-right"><i
                class="fa fa-print"></i> Imprimer le Qr-Code
        </button></h1>
            <h4>Description</h4>
            <p>{{lopin.description}}</p>
            <div class="btn-group lopin-actions-dropdown" dropdown>
                <button type="button" class="btn btn-default btn-block" dropdownToggle [disabled]="disabled">
                    Action sur le Lopin&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li *ngFor="#type of typesActions"><a  (click)="addActionLopin(type[0])" style="cursor: pointer" class="dropdown-item">{{type[1]}}</a></li>
                </ul>
            </div>
            <a *ngIf="lopin.jardin lopin-return-jardin" class="btn btn-success lopin-actions-dropdown" [routerLink]="['Jardin', {id : lopin.jardin}]">Aller au jardin</a>
            <div id="qrcode"></div>
        </div>
    </div>
    <h2>{{plantes.length}} plante<span *ngIf="plantes.length > 1">s</span> dans le lopin&nbsp;<a
            *ngIf="peutAjouterPlante" style="cursor: pointer;"
            (click)="creerLopin()"
            title="Ajouter un lopin"><i
            class="fa fa-plus" aria-hidden="true"></i></a></h2>

    <accordion [closeOthers]="false">
        <accordion-group *ngFor="#plante of plantes;" heading="{{plante.nom}} - {{plante.espece}}"
                         style="margin-top: 3px">
            <sd-plante [plante]="plante"></sd-plante>
        </accordion-group>
    </accordion>


    <div class="row">
        <h2>Commentaires</h2>
        <div class="container">
            <sd-commentaire (deleteCommentaireEvent)="deleteActualiteEvent($event)"
                            *ngFor="#commentaire of commentairesLopin" [commentaire]="commentaire">Chargement...
            </sd-commentaire>
        </div>
        <sd-ajout-commentaire *ngIf="peutCommenter()" (ajouterCommentaireEvent)="ajouterCommentaireEvent($event)"
                              [idLopin]="lopin.id"></sd-ajout-commentaire>
    </div>

</div>
