  <div class="row" *ngIf="commentaireJardin">
    <div class="col-sm-1">
      <div class="thumbnail">
        <sd-avatar-utilisateur [num]="commentaireJardin.auteur"></sd-avatar-utilisateur>
      </div>
    </div>

    <div class="col-sm-11">
      <div class="panel panel-default">
        <div class="panel-heading">
          <b><sd-nom-utilisateur [num]="commentaireJardin.auteur"></sd-nom-utilisateur></b>, <span class="text-muted">Le {{ convertdate(commentaireJardin.date_creation) | date:"dd-MM-yy"}}</span>
          <span *ngIf="peutSupprimer()" style="cursor: pointer" (click)="deleteCommentaire(commentaireJardin.id)" class="fa fa-trash suppbtn" aria-hidden="true"></span>
        </div>
        <div class="panel-body">
          {{ commentaireJardin.texte }}
        </div>
      </div>
    </div>

  </div>

