<div class="panel panel-default media" *ngIf="lopin" (click)="versLopin(lopin.id)" style="cursor: pointer">
  <div class="panel-body">
    <div class="">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object"
               src="http://www.tiptopglobe.com/forum/images/avatars/gallery/Simpsons/simpsons_santas_little_help.gif"
               alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{lopin.nom}}</h4>
        <div class="title">{{ lopin.description }}</div>
      </div>
    </div>
  </div>
</div>

