<div class="panel panel-default media" *ngIf="lopin" (click)="versLopin(lopin.id)" style="cursor: pointer">
  <div class="panel-body">
    <div class="">
      <div class="media-left media-middle">
        <a href="#">
          <a class="btn btn-primary pull-right"><i class="fa fa-tint" aria-hidden="true"></i> Arroser</a>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{lopin.nom}}</h4>
        <div class="title">{{ lopin.description }}</div>
      </div>
    </div>
  </div>
</div>

