<div class="modal-header">
    <button type="button" class="close" (click)="dismiss()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Création du jardin</h4>
</div>

<div class="modal-body">
    <form #creationJardinForm="ngForm" enctype="multipart/form-data">
        <div class="form-group">
            <label for="jardin_nom">Nom*</label>
            <input type="text" [(ngModel)]="jardin.nom" class="form-control" id="jardin_nom" placeholder="Nom du jardin"
                   required>
        </div>
        <div class="form-group">
            <label for="jardin_url">URL du site web</label>
            <input type="url" [(ngModel)]="jardin.site" class="form-control" id="jardin_url"
                   placeholder="http://www.exemple.com">
        </div>
        <div class="form-group">
            <label for="jardin_contact">Contact*</label>
            <input type="email" [(ngModel)]="jardin.contact" class="form-control" id="jardin_contact"
                   placeholder="Email du contact" required>
        </div>
        <div class="form-group">
            <label for="jardin_horaire">Horaire*</label>
            <textarea [(ngModel)]="jardin.horaire" class="form-control" id="jardin_horaire" placeholder="Horaires"
                      required></textarea>
        </div>
        <div class="form-group">
            <label for="jardin_image">Image</label>
            <input type="file" class="file" id="jardin_image" placeholder="Image">
        </div>
        <div class="form-group">
            <label for="jardin_description">Description</label>
            <textarea [(ngModel)]="jardin.description" class="form-control" id="jardin_description"
                      placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="jardin_rue">Rue*</label>
            <input type="text" [(ngModel)]="jardin.adresse.rue" class="form-control" id="jardin_rue" placeholder="Rue" required>
        </div>
        <div class="form-group">
            <label for="jardin_ville">Ville*</label>
            <input type="text" [(ngModel)]="jardin.adresse.ville" class="form-control" id="jardin_ville" placeholder="Ville"
                   required>
        </div>
        <div class="form-group">
            <label for="jardin_cp">Code postal*</label>
            <input type="text" [(ngModel)]="jardin.adresse.code_postal" class="form-control" id="jardin_cp" placeholder="Code Postal"
                   required>
        </div>
        <div class="checkbox">
            <label for="jardin_restreint">
                <input [(ngModel)]="jardin.restreint" type="checkbox" id="jardin_restreint"
                       > Accès restreint aux membres du jardin
            </label><br/>
            <label for="jardin_compost">
                <input [(ngModel)]="jardin.composteur" type="checkbox" id="jardin_compost"
                       > Présence d'un composteur
            </label>
        </div>

    </form>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="dismiss()">Annuler</button>
        <button type="button" class="btn btn-success" (click)="envoyerModifs()"
                [disabled]="!creationJardinForm.form.valid">Valider
        </button>
    </div>

</div>

