<div class="row">
    <div class="col-sm-3" *ngIf="plante.image">
        <img class="img-responsive" src={{plante.image}}/>
    </div>
    <div class="col-sm-9">
        <button class="btn btn-primary pull-right" (click)="getQrCode()" style="margin-left: 4px"><i class="fa fa-print"></i> Imprimer le Qr-Code</button>
        <div class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-default" style="width: 100px" dropdownToggle [disabled]="disabled">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                <li *ngFor="#type of typesActions"><a class="dropdown-item">{{type[1]}}</a></li>
            </ul>
        </div>

        <h4>{{plante.nom}} </h4>
        <h5>{{plante.espece}} </h5>
        <p>{{plante.description}} </p>
    </div>
</div>

<div class="row commentaires">
    <h2>Commentaires</h2>
    <hr>
    <div style="max-height: 300px; overflow-y: auto;overflow-x: hidden" id="comment{{plante.id}}">
        <sd-commentaire class="commentaires" (deleteCommentaireEvent)="deleteCommentaireEvent($event)"
                        *ngFor="#commentaire of commentairesPlante" [commentaire]="commentaire">Chargement...
        </sd-commentaire>
    </div>
    <sd-ajout-commentaire (ajouterCommentaireEvent)="ajouterCommentaireEvent($event)"
                          [idLopin]="plante.id"></sd-ajout-commentaire>


</div>

