<div class="row">
    <div class="col-sm-1" *ngIf="plante.image">
        <img class="img-responsive" style="max-width: 50px" [src]="plante.image" onError="this.src='assets/img/logo2.png'" />
    </div>
    <div class="col-sm-11">
        <button class="btn btn-primary pull-right" (click)="getQrCode()" style="margin-left: 4px"><i class="fa fa-print"></i> Imprimer le Qr-Code</button>
        <div class="btn-group pull-right" dropdown>
            <button type="button" class="btn btn-default" style="width: 100px" dropdownToggle [disabled]="disabled">
                Action <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                <li *ngFor="#type of typesActions"><a (click)="ajouterAction(type[0])" class="dropdown-item">{{type[1]}}</a></li>
            </ul>
        </div>
        <h4>{{plante.nom}} </h4>
        <h5>{{plante.espece}} </h5>
        <p>{{plante.description}}</p>

        <button type="button" class="btn btn-primary btn-xs"
                (click)="historiqueVisible = !historiqueVisible">
            <span *ngIf="!historiqueVisible">Voir</span>
            <span *ngIf="historiqueVisible">Masquer</span> l'historique
        </button>
        <button *ngIf="peutCommenter()" type="button" class="btn btn-primary btn-xs"
                (click)="commentairesVisibles = !commentairesVisibles">
            <span *ngIf="!commentairesVisibles">Voir</span>
            <span *ngIf="commentairesVisibles">Masquer</span>  les commantaires
        </button>
    </div>
</div>

<div [collapse]="!historiqueVisible" class="row container" *ngIf="peutCommenter()">
    <h3>Historique</h3>
    <hr>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Type d'action</th>
            <th>Personne</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#action of actions">
            <td>{{getNomTypeActionFromType(action.type)}}</td>
            <td>{{action.utilisateur}}</td>
            <td>{{action.date}}</td>
        </tr>
        </tbody>
    </table>


</div>

<div [collapse]="!commentairesVisibles" class="row container" *ngIf="peutCommenter()">
    <h3>Commentaires</h3>
    <hr>
    <div style="max-height: 300px; overflow-y: auto;overflow-x: hidden" id="comment{{plante.id}}">
        <sd-commentaire class="commentaires" (deleteCommentaireEvent)="deleteActualiteEvent($event)"
                        *ngFor="#commentaire of commentairesPlante" [commentaire]="commentaire">Chargement...
        </sd-commentaire>
    </div>
    <sd-ajout-commentaire (ajouterCommentaireEvent)="ajouterCommentaireEvent($event)"
                          [idLopin]="plante.id"></sd-ajout-commentaire>


</div>

